{% extends "layout.html" %}

{% block headerextras %}
<script src="/static/audioscript.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
{% endblock %}

{% block content %}
  <div class="row alert alert-info">
    <!--Depending on whether they're the buyer or seller, they need either an offer or accept bar here
        I need to figure out how to make different elements based on an if-statement
        Also need to figure out how to send an offer to the seller for them to accept or reject - I can use a post to get it from the buyer 
      <form action="/action_page.php">
        <label for="offer">Offer: </label>
        <input type="number" id="offer" name="offer"><br><br>
        <input type="submit" class="btn btn-success" value="Submit Button">
      </form>
      <a href="#" class="btn btn-success">Link Button</a>
    -->
    <!--Note to self, create a "Thanks for participating" page that the seller is sent to after accepting or rejecting the offer
        And a similar page for the buyer (either the same page, or one where it tells them whether their offer was accepted/rejected)-->

    <div class="col-lg-4 p-5">
      <h3>Chat Page</h3>
      <p>Welcome! You are the <strong>{{role}}.</strong></p>
      <p>{{task_description}}</p>
      <p>Goal Price: {{goal_price}}</p>
      <p>Item Description: {{item_description}}</p>
      <p><img src={{item_image}} alt="No image available" class="img-fluid rounded"></p>
    </div>
      
    <div class="col-lg-4 p-5">

      <div class="alert alert-dark">
        <p><strong>Received Messages:</strong></p>
        <div id="msgs" class="panel panel-default d-flex align-items-center">
          <table class="table" id="msgtable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Sent by:</th>
                <th scope="col">Button</th>
              </tr>
            </thead>
            <tbody id="msgbody">
            </tbody>
          </table>
        </div>

        <br>
        <p><strong>Send a Message:</strong></p>
        <div class="panel panel-default d-flex align-items-center">
          <button id="btnRecord" class="btn btn-primary btn-lg disabled" data-bs-toggle="tooltip" title="Hold to Record"><i class="bi-mic"></i></button>
          <!--for recording-->
          <audio muted></audio>
          <audio id="audioPlay" controls></audio>
          <button id="btnsend"  class="btn btn-primary btn-lg disabled" data-id={{id}} data-role={{role}} data-bs-toggle="tooltip" title="Send"><i class="bi-telegram"></i></button>
        </div>
        <audio id="partnerAudio"></audio>
      </div>

      <div class="alert alert-dark">
        <p><strong>Submit Offer:</strong></p>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input id="offerVal" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
        </div>
        <button id="btnSubmit" class="button-primary align-items-center disabled">Submit</button>
      </div>

    </div>
  </div>

  <div class="col-lg-4 p-5">
  </div> 

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Response Received</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalText">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="accept">Ok</button>
        <button type="button" class="btn btn-secondary" id="decline" hidden>Hidden</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}