{% extends "layout.html" %}

{% block headerextras %}
<script src="/static/audioscript.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
{% endblock %}

{% block content %}
  <div class="row alert alert-info">
    <div class="col-lg p-5">
      <button id="tdToggle">Toggle Task Description</button>
      <div class="alert alert-dark" id="taskDescription">
        <p>Welcome! You are the <strong>{{role}}.</strong></p>
        <p>Your goal for this task is to convince the seller to sell you the item for as close to your goal price as possible. You will negotiate with the seller using recorded messages. Once you have sent and received at least two messages, you may make an offer of any price; however, once the seller accepts or rejects your offer, the negotiation is over. Try to send an offer your partner will accept!</p>
        <p>To record a message, press and hold the button with the microphone symbol. You can listen to the message to make sure it sounds right, then click the 'send' button to send it. You can also click any sent or received message to listen to them again.</p>
        <p>There is a time limit for this negotiation - you and your partner should be done within ten minutes. There is a timer in the top-right corner to let you know when the five minutes are up.</p>
        <p>If you would like to know anything else about the negotiation, you can find an instruction document by clicking the link labelled "Negotiation Instructions". Have fun, and good luck with your negotiation!</p>
      </div>
      <div class="alert alert-dark">
        <div class="alert alert-dark" style="position: fixed; top: 1%; right: 1%; z-index: 100; width: fit-content; height: fit-content;">
          <p id="TimeRemaining">Time Remaining: 5:00</p>
        </div>
        <p>Listing Price: ${{listing_price}}</p>
        <p>Your Goal Price: ${{goal_price}}</p>
        <p>Item Description: {{item_description}}</p>
        <p><img src={{item_image}} alt="No image available" class="img-fluid rounded"></p>
      </div>
    </div>
      
    <div class="col-lg p-5">

      <div class="alert alert-dark">
        <p><strong>Received Messages:</strong></p>
        <div id="msgs" class="panel panel-default d-flex align-items-center">
          <table class="table" id="msgtable">
            <thead>
              <tr>
                <th scope="col">Timestamp</th>
                <th scope="col">Sender</th>
                <th scope="col">Play/Pause</th>
                <th scope="col">Message Length</th>
              </tr>
            </thead>
            <tbody id="msgbody">
            </tbody>
          </table>
        </div>
        <br>
        <p id="partnerRecordingMsg"></p>

        <br>
        <p><strong>Send a Message:</strong></p>
        <div class="panel panel-default d-flex align-items-center">
          <button id="btnRecord" class="btn btn-primary btn-lg disabled" data-bs-toggle="tooltip" title="Hold to Record"><i class="bi-mic"></i></button>
          <!--for recording-->
          <audio muted></audio>
          <audio id="audioPlay" controls></audio>
          <button id="btnsend"  class="btn btn-primary btn-lg disabled" data-id={{id}} data-role={{role}} data-connected=false data-bs-toggle="tooltip" title="Send"><i class="bi-telegram"></i></button>
        </div>
        <audio id="partnerAudio"></audio>
        <audio id="timerAudio" src="/static/tick.mp3"></audio>
        <audio id="alertAudio" src="/static/alert.wav"></audio>
        <audio id="pressAudio" src="/static/press.mp3"></audio>
        <audio id="releaseAudio" src="/static/release.mp3"></audio>
      </div>

      <div class="alert alert-dark">
        <p><strong>Submit Offer:</strong></p>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input id="offerVal" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
        </div>
        <button id="btnSubmit" class="btn btn-primary btn-lg disabled">Submit</button>
      </div>

    </div>
  </div>

  <div class="col-lg-4 p-5">
  </div> 

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Response Received</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalText">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="accept">Ok</button>
        <button type="button" class="btn btn-secondary" id="decline" hidden>Hidden</button>
      </div>
    </div>
  </div>
</div>

<!-- Another Modal -->
<div class="modal fade" id="OfferConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Offer this amount?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="OfferConfirmText">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="confirmYes">Yes</button>
        <button type="button" class="btn btn-secondary" id="confirmNo">No</button>
      </div>
    </div>
  </div>
</div>

<!-- Partner Connecting Modal -->
<div class="modal fade" id="ConnectingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Please Wait...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="connectingModalText">
        Your partner is connecting. Please wait.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="connectionComplete" style="visibility:hidden">Continue</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}