{% extends "layout.html" %}

{% block headerextras %}
<script src="/static/audioscript.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
{% endblock %}

{% block content %}
  <div class="row alert alert-info">
    <div class="col-lg-4 p-5">
      <div class="alert alert-dark">
        <p>Welcome! You are the <strong>{{role}}.</strong></p>
        <p>Your goal for this task is to sell this item for as close to the listing price as possible. You will negotiate with your assigned buyer using recorded messages. Once the buyer chooses to make an offer, you may either accept or reject the offer.</p>
        <p>To record a message, press and hold the button with the microphone symbol. You can listen to the message to make sure it sounds right, then click the 'send' button to send it. You can also click any sent or received message to listen to them again.</p>
        <p>Have fun, and good luck with your negotiation!</p>
      </div>
      <div class="alert alert-dark">
        <p>Goal Price: ${{goal_price}}</p>
        <p>Item Description: {{item_description}}</p>
        <p><img src={{item_image}} alt="No image available" class="img-fluid rounded"></p>
      </div>
    </div>
      
    <div class="col-lg-4 p-5">

      <div class="alert alert-dark">
        <p><strong>Received Messages:</strong></p>
        <div id="msgs" class="panel panel-default d-flex align-items-center">
          <table class="table" id="msgtable">
            <thead>
              <tr>
                <th scope="col">Timestamp</th>
                <th scope="col">Sender</th>
                <th scope="col">Button</th>
                <th scope="col">Message Length</th>
              </tr>
            </thead>
            <tbody id="msgbody">
            </tbody>
          </table>
        </div>

        <br>
        <p><strong>Send a Message:</strong></p>
        <div class="panel panel-default d-flex align-items-center">
          <button id="btnRecord" class="btn btn-primary btn-lg disabled" data-bs-toggle="tooltip" title="Hold to Record"><i class="bi-mic"></i></button>
          <!--for recording-->
          <audio muted></audio>
          <audio id="audioPlay" controls></audio>
          <button id="btnsend"  class="btn btn-primary btn-lg disabled" data-id={{id}} data-role={{role}} data-bs-toggle="tooltip" title="Send"><i class="bi-telegram"></i></button>
        </div>
        <audio id="partnerAudio"></audio>
      </div>
    </div>
  </div>

  <div class="col-lg-4 p-5">
  </div> 

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Offer Received</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalText">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="accept">Accept</button>
        <button type="button" class="btn btn-secondary" id="decline">Decline</button>
        <button id="btnSubmit" class="button-primary align-items-center disabled" hidden>Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- Another Modal, only here because of shared audioscript.js -->
<div class="modal fade" id="OfferConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Offer this amount?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="OfferConfirmText">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="confirmYes">Yes</button>
        <button type="button" class="btn btn-secondary" id="confirmNo">No</button>
      </div>
    </div>
  </div>
</div>

<!-- Partner Connecting Modal -->
<div class="modal fade" id="ConnectingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Please Wait...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="connectingModalText">
        Your partner is connecting. Please wait.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="connectionComplete" style="visibility:hidden">Continue</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}