{% extends "layout.html" %}
{% block headerextras %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

{% endblock %}
{% block content %}
<div class="row alert alert-info">
    <div class="col p-5 text-center">
      <h3>Task Description</h3>
      <p>Welcome to the negotiation task! In this task, you will be asked to negotiate over the price of a craigslist item with a randomly assigned partner. You can receive a bonus for a successful negotiation, and an additional bonus for getting close to your target price.</p>
      <p>Before you start this task for the first time, please read the Negotiation Instructions using the link above. Additionally, please note the following:</p>
      <p>
        This HIT is part of a scientific research project. Your decision to 
        complete this HIT is voluntary, and your responses are 
        anonymous. Your 14-digit AMT Worker ID is only collected by us 
        for purposes of distributing payment to you, and will not be 
        associated with any of your responses. The results of the research
        may be presented at scientific meetings, published in scientific 
        journals, or made publicly available to other researchers. By 
        clicking on the 'Submit' button for this HIT, you indicate that you 
        are at least 18 years of age and that you consent to complete this
        HIT voluntarily.
      </p>
      <p>Once you are ready, accept the task to begin. Thank you in advance for your time!</p>
    </div>
  </div>
{% endblock %}