{% extends "layout.html" %}
{% block headerextras %}
<script src="/static/pairing.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
{% endblock %}
{% block content %}
<div class="row alert alert-info">
    <!--
        This page should have a description of the task
        There should also be a centered button at the top that says "Start"
    -->

    <div class="col p-5 text-center">
      <h3>Task Description</h3>
      Welcome, {{username}}! We're glad you could make it. Please wait; you will be paired with another user shortly.
      </br>
      <button id="blocked"  class="btn btn-primary" data-id={{id}} data-bs-toggle="tooltip" title="Please Wait...">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> 
        loading...
      </button>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Partner Found!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalText">
        We've found you a partner! Please click the button below within 10 seconds to begin.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="continue">Let's Begin</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}